* { /**/
    box-sizing: border-box; /*determina che i margini ed i padding mantengano la altezza e lunghezza da noi impostata (al contenitore) */
    margin: 0;
    padding: 0;
}

.flexbox {
    width: 100%;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
}

#navbar {
    padding: 2px 0;
    align-items: center;
    justify-content: center;
}

#navbar > *:not(#hero) {
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: 43px;
    margin: 16px 0;
}

.logo, .login {
    justify-content: flex-start;
    max-width: 100px;
    flex-grow: 1;
}

.link {
    max-width: 300px;
    flex-grow: 3;
    justify-content: center;
}

.login {
    justify-content: flex-end;
}

#hero {
    min-height: 400px;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

#hero > * {
    min-height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 400px;
    height: 200px;
    justify-content: center;
   /* width: inherit;
    height: inherit; */
}



.section {
    justify-content: center;
    padding: 50px 0;
    margin: auto;
    min-height: 400px;
}



/* COLUMN LEFT */

.column-left {
    min-width: 20%;
}



/* COLUMN RIGHT */

.column-right {
    min-width: 40%;
}

.non-flexbox {
    min-width: 60%;
}


/* FOOTER */

.footer * {
    display: flex;
    max-height: inherit;
}

.h {
    height: 100%;
    max-height: 500px;
}

.references_link {
    flex-grow: 1;
}

.references {
    flex-grow: 2;
}

.footer {
    height: 500px;
    flex-wrap: nowrap;
    padding: 5px 0 40px 0;
}

.table {
    flex-grow: 1;
    height: inherit;
}

/* DEEPEST */

section:last-child {
    border-top: 1px solid;
}

.deepest {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px 0;
    margin-top: 25px;
}


.btn {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border: 0 none transparent;
}

/**/

body > header > #navbar {
    background-color: #ADD8E6;
}

body > header > #navbar > *:not(#hero) {
    background-color: #DAA520;
}


body > header > #navbar > * {
    border: 2px dashed black;
}


body > header > #navbar > #hero{
    background-color: #00008B;
}

body > header > #navbar > #hero > div:only-child {
    background-color: #EE82EE;
    border: 2px dotted black;
}



/* MAIN */

body > main > .section > * {
    border: 2px dashed black;
}

body > main > .section:nth-of-type(2n + 2) {
    background-color: #F6F6F6;
}

body > main > .section > .column-left {
    background-color: #1E90FF;
}

body > main > .section > .column-right {
    background-color: #FFC0CB;
}

body > main > .section > .non-flexbox {
    background-color: #228B22;
}



/* FOOTER */

footer {
    background-color: #23272A;
}

footer > .footer * {
    border: 2px dashed black;
}

footer > .footer > .references_link {
    background-color: #F08080;
}

footer > .footer > .references > .table {
    border-color: #FFF;
    background-color: #20B2AA;
}

footer > section:last-child {
    border-color: #FFF;
}

footer > section > .deepest {
    border-color: #FFF;
    background-color: #7FFFD4;
}

footer > section > .deepest > * {
    border: 2px dashed black;
    background-color: #FFB6C1;
}